#main-container {
  position: absolute;
  width: 90%;
  left: 50%;
  height: 90vh;
  transform: translate(-50%);
  background-color: #484848;
  padding: 20px;
  border-radius: 10px;
}

#prev {
  position: absolute;
  background-color: #333333;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  left: 30px;
}

#next {
  position: absolute;
  border-radius: 5px;
  background-color: #333333;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100px;
  height: 30px;
  margin-top: 20px;
  left: 140px;
}

#pad {
  position: relative;
  height: 1270px;
  width: 740px;
  transform: rotate(-90deg);
  margin-left: 680px;
  top: -260px;
  padding: 10px;
  border-radius: 10px;
  line-height: 0.01;
}

#note {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: black;
  left: 1000px;
  top: 10px;
}

.hello {
  width: 10vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
}

#playreverse {
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#play {
  max-width: 100%;
  max-height: 100%;
}

#volume {
  height: 30vh;
  position: absolute;
  top: 400px;
  margin-left: 170px;
}

/* ----------------------------------------- */
ol.even {
  position: relative;
  left: 3.63636em;
}

ol.odd {
  position: relative;
  margin-top: -7.5%;
  margin-bottom: -7.5%;
}

.first {
  margin-top: 5px;
}

.hex {
  position: relative;
  margin: 1em auto;
  width: 4em;
  height: 6.8em;
  border-radius: 1em/.5em;
  background: #ccc;
  transform: rotate(-90deg);
  display: inline-block;
  margin-right: 3.07692em;
  transition: all 150ms ease-in-out;
}

.hex:before, .hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}

.hex:before {
  transform: rotate(60deg);
}

.hex:after {
  transform: rotate(-60deg);
}

.hex:hover {
  background: #F58787;
  cursor: pointer;
}

.note {
  position: absolute;
  transform: rotate(180deg);
  text-align: center;
  top: 55px;
  left: 26px;
  z-index: 1;
}
